# Main libraries for working with NLP
transformers==4.32.0
datasets==2.15.1

# Library for array computations
numpy==1.24.3

# Libraries for machine learning and metrics
scikit-learn==1.3.1
umap-learn==0.5.7

# Visualization
matplotlib==3.7.1
plotly


# Text data processing
pandas==2.0.3

# NLP
tqdm
ipywidgets
gensim
wordcloud

# PyTorch with GPU support (depends on CUDA version)
torch==2.0.1
# torch==2.0.1+cu118
